body {
	margin: 0;
	background-color: #f0f0f3;
	font-family: 'Varela Round', sans-serif;
	margin-bottom: 100px;
}

.language-css, .language-html {
	white-space: pre-wrap!important;       /* css-3 */
	white-space: -moz-pre-wrap!important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap!important;      /* Opera 4-6 */
	white-space: -o-pre-wrap!important;    /* Opera 7 */
	word-wrap: break-word!important;       /* Internet Explorer 5.5+ */

	margin: 0!important;
	background: #fff!important;
}


h1 {
	color: #6a36b6;
}

h2 {
	color: #333333;
}

h3 {
	font-weight: normal;
	color: #333333;
}

header {
	background-color: #fff;
}

.content {
	padding-top: 20px;
	padding-bottom: 20px;
}

pre {
	margin: 0;
	overflow-x: auto;
	overflow-y: scroll;
	height: 100%;
	background: #fff;
	border-radius: 20px;
	padding: 20px;
	height: 605px;
	overflow: hidden;
	box-shadow: 0 5px 20px rgba(50, 50, 50, 0.12);
}

input {
	font-family: 'Varela Round', sans-serif;
	padding: 18px 20px;
	border: 0;
	border-radius: 40px;
	box-shadow: 0 5px 20px rgba(50, 50, 50, 0.12);
	width: 350px;
	padding-right: 120px;
	font-size: 16px;
}

form {
	position: relative;
	display: inline-block;
}
form button {
	padding: 18px 30px;
	position: absolute;
	right: 0;
	top: 0;
}

button {
	font-family: 'Varela Round', sans-serif;
	padding: 18px 20px;
	border: 0;
	border-radius: 40px;
	box-shadow: 0 5px 20px rgba(50, 50, 50, 0.12);
	background-color: #6a36b6;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #7a28f3;
}

.btn-large {
	padding: 24px 26px;
}


.nr {
    display: inline-block;
    background: #ffffff;
    color: #333;
    padding: 10px;
    font-weight: normal;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.3s;
    width: 42px;
    height: 42px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.nr.done {
	transition: 0.3s;
	background: #36b67c;
	color: #fff;
}

.title, .prefix-value {
	display: inline-block;
}

.prefix-highlight {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    color: #6a36b6;
}

.message {
    color: #fff;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: #36b67c;
    box-shadow: 0 5px 20px rgba(50, 50, 50, 0.12);
}

.fade:before {
	background-color: rgba(50, 50, 50, 0.20);
	position: fixed;
	content: "";
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}
.fade.fade-in:before {
	opacity: 1;
	pointer-events: auto;
}

.buttons {
	flex-direction: row;
	display: flex;
}
.buttons button {
	max-width: 300px;
}

.btn-icon {
	padding-left: 62px;
	background-repeat: no-repeat;
    background-size: 25px;
    background-position: center left 26px;
}
.btn-download {
	background-image: url('../img/download.svg');
}
.btn-copy {
	background-image: url('../img/copy.svg');
}

.btn-loading {
	background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
.loading {
	color: transparent;
	background-image: url('../img/loading.svg');
}

.btn-link {
	transition: 0.2s;
	opacity: 1;
}
.btn-link:hover {
	opacity: 0.8;
}

/* TABS */
.tab:not(.show) {
	display: none;
}
.tabs {
	background: #6a36b6;
}
.tab-buttons a {
	color: #fff;
	text-decoration: none;
	margin: 20px 0;
	padding: 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
	font-size: 20px;
	margin-right: 40px;
}

.tab-buttons a:hover,
.tab-buttons a.active {
	color: #fff;
	border-bottom: 2px solid #fff;
}


.text-box {
	color: #fff;
	position: relative;
	background: #2f0869;
	padding: 10px;
    display: inline-block;
    margin-right: 40px;
}
.text-box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #2f0869;
	border-width: 20px;
	margin-top: -20px;
}

/* EXAMPLES */

.bootstrap-grid--example [class^=bootstrap-grid--col] {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 243);
}

.nt {
    color: #2f6f9f;
}
.na {
    color: #4f9fcf;
}
.s {
    color: #d44950;
}

.icon-view {
	background-image: url(../img/glasses.svg);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	font-size: 0;
}

.icon-code {
	background-image: url(../img/html-coding.svg);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	font-size: 0;
}
